@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Edu SA Beginner";
}

body {
  min-height: 100vh;
  background: linear-gradient(104deg, rgba(199, 0, 57, 0.56) 0%, #900c3f 100%);
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 560px;
  min-height: 400px;
  text-align: center;
  margin: 50px auto;
  border-radius: 25px;
  padding: 0 50px;
  padding-bottom: 32px;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(255,255,255,0.25);
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.todo-form {
  width: 100%;
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  border: 2px solid #ffffff;
  outline: none;
  width: 70%;
  background: transparent;
  color: #fff;
}

.todo-description {
  margin-top: 10px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
}

.todo-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.todo-button {
  /* padding: 16px; */
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin: 0 4px;
  padding: 16px 22px;
  background: #513252;
  color: #fff;
  text-transform: capitalize;
  box-shadow: 3px 4px 15px -2px rgba(0,0,0,0.75);
}

.todo-input.edit {
  border: 2px solid #fff;
}

.todo-button.edit {
  background: #7A4069;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin: 8px auto;
  color: #fff;
  background: #7D1E6A;
  padding: 16px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 3px 4px 15px -2px rgba(0,0,0,0.75);
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-row:nth-child(4n + 1) {
  background: #CA4E79;
}

.todo-row:nth-child(4n + 2) {
  background: #E2703A
}

.todo-row:nth-child(4n + 3) {
  background: #74959A
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.done {
  text-decoration: line-through;
}

.todo {
  width: 100%;
  text-align: left;
}

.description {
  display: flex;
  padding: 3px;
  margin-bottom: 2px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
}

.contact p{
  font-weight: 600;
  color: #000;
}

a{
  color: navy;
}

.github, .linkedin{
  background: transparent;
  border: none;
  transform: scale(2);
  margin: 0 15px;
}